body{
	font: 0.8em Arial, sans-serif; 
}

h1, ul{
	margin: 0;
	padding: 0;
}

.clear{
	clear:both;
}

#wrap {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
}

#header{
	margin-bottom: 10px;
}

#menu ul{
	list-style: none;
	height: 30px;
	border-bottom: 1px solid black;	
}

#menu ul li{
	float: left;
}

#menu ul li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 0 20px;
	line-height: 30px;

}

#menu ul li a:hover, #menu ul li a.selected{
	background: black;
	color: white;
}

#content{
	width: 700px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

#content h1{
	font-size: 1.6em;
}

#side{
	width: 240px;
	float: right;
	padding: 10px;
	box-sizing: border-box;
	border-left: 1px solid #aaa;
}

#content, #side{
	min-height: 200px;
}

#footer{
	background: #000;
	color: #fff;
	padding: 10px;
}














