h1{
	font-size: 1.6em;
	text-transform: capitalize;
	/*uppercase lowercase and capitalize*/
}

span{
	font-size: 0.8em;
}

body{
	font-family: Verdana, Tahoma, sans-serif;
	font-family: "Times New Roman", serif;

	font-family: Arial, Verdana, sans-serif;
	font-size: 1.2em;

	font: 1em Arial,Verdana,sans-serif;
	/* size and family then fallbacks */
}

/*font-size uses px or pt or percent or ems */
/*quotes if spaces*/
/*62.4% font size -->  
1em -> 10px 
1.2em -> 12px */

/*1.2 em should be used */
