.tools{
	position: relative;
	display: inline-block;

}

.tools a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	
	display: block;
	color: #101010;
	text-decoration: none;
	padding: 2px 10px;
	border: 1px solid #ccc;


}

.tools a span{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555;
	display: inline-block;
	margin: 2px 7px;
}

.tools > a {
	padding-right: 40px;
}

.tools ul li a:hover{
	text-decoration: underline;
}

.tools .tool {
	display: none;
}

.tools .tool ul {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*must work from the parent container of tool which is display: none above*/
.tools:hover .tool{
	display: block;
}
